<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/main.css') }}">
</head>
<body>
    <nav>
        <ul>
            <a href="/">Home</a>
            <a href="{{ url_for('about') }}">About</a>
        </ul>
    </nav>


    <section class="container">

        <!-- To avoid rewriting code we use layouts -->
        {% block content %}
        {% endblock %}

    </section>
    
    <br>
    <span class="space"></span>
    <footer>
        <p><a href="https://www.mrfabri.com" target="_blank">Mr. Fabri </a>| Copyright 2020 - 2021, All rights reserved</p>
    </footer>
</body>
</html>